{
  "openapi": "3.0.0",
  "info": {
    "title": "Spotify Web API",
    "version": "1.0.3",
    "description": "Spotify Web API lets you fetch music data, manage playlists, search tracks, and control playback.\nThis OpenAPI spec includes token-based authentication (OAuth 2.0), playlist retrieval, track search, and authorization URL details.\n\n## \ud83d\udd10 How to Get Client ID and Client Secret\n\n1. Visit the [Spotify Developer Dashboard](https://developer.spotify.com/dashboard)\n2. Log in with your Spotify account\n3. Click **\"Create an App\"**\n4. Fill in the required details (App name, description, etc.)\n5. Once created, you\u2019ll see your **Client ID** and an option to **View Client Secret**\n6. You can set your Redirect URI (required for Authorization Code Flow)\n7. Use these credentials to obtain an OAuth token\n\n## \ud83d\udcd8 Authorization Code Flow Steps\n\n- **Authorization URL**: `https://accounts.spotify.com/authorize`\n- **Token URL**: `https://accounts.spotify.com/api/token`\n- Required scopes depend on the endpoint (e.g., `playlist-read-private`, `user-library-read`)\n\n## \ud83e\uddea Example: Get Access Token using cURL\n\nOnce you have obtained the authorization code via redirect, you can exchange it for an access token using the following `curl` command:\n\n```bash\ncurl -X POST https://accounts.spotify.com/api/token \\\n  -H \"Content-Type: application/x-www-form-urlencoded\" \\\n  -d \"grant_type=authorization_code\" \\\n  -d \"code=YOUR_AUTHORIZATION_CODE\" \\\n  -d \"redirect_uri=YOUR_REGISTERED_REDIRECT_URI\" \\\n  -u YOUR_CLIENT_ID:YOUR_CLIENT_SECRET\n```\n\n- Replace `YOUR_AUTHORIZATION_CODE` with the code you got after user consent.\n- Replace `YOUR_REGISTERED_REDIRECT_URI` with the same redirect URI you used during authorization.\n- Use `-u` to pass `client_id` and `client_secret` in basic auth format.\n\nThe response will include:\n\n```json\n{\n  \"access_token\": \"...\",\n  \"token_type\": \"Bearer\",\n  \"expires_in\": 3600,\n  \"refresh_token\": \"...\",\n  \"scope\": \"playlist-read-private\"\n}\n```\n",
    "contact": {
      "name": "Spotify Developer Support",
      "url": "https://developer.spotify.com",
      "email": "support@spotify.com"
    },
    "license": {
      "name": "Spotify Developer TOS",
      "url": "https://developer.spotify.com/terms/"
    }
  },
  "servers": [
    {
      "url": "https://api.spotify.com/v1",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "Playlists",
      "description": "Access and manage user playlists"
    },
    {
      "name": "Search",
      "description": "Search for music"
    },
    {
      "name": "Authorization",
      "description": "OAuth 2.0 flow for accessing protected endpoints"
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.spotify.com/authorize",
            "tokenUrl": "https://accounts.spotify.com/api/token",
            "scopes": {
              "playlist-read-private": "Read private playlists",
              "user-read-private": "Read user's private info",
              "user-library-read": "Access user's saved tracks"
            }
          }
        }
      }
    },
    "schemas": {
      "Playlist": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "My Favorite Tracks"
          },
          "id": {
            "type": "string",
            "example": "5tHBXYW4QbkF14gWmQkm5H"
          },
          "public": {
            "type": "boolean",
            "example": true
          },
          "tracks": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "example": 12
              }
            }
          }
        }
      },
      "Track": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Shape of You"
          },
          "id": {
            "type": "string",
            "example": "7qiZfU4dY1lWllzX7mPBI3"
          },
          "artists": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "Ed Sheeran"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": [
        "playlist-read-private",
        "user-read-private"
      ]
    }
  ],
  "paths": {
    "/me/playlists": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Get current user's playlists",
        "description": "Returns a list of the current user's playlists.",
        "security": [
          {
            "OAuth2": [
              "playlist-read-private"
            ]
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of playlists to return (default 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first playlist to return",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of playlists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Playlist"
                      }
                    }
                  }
                },
                "example": {
                  "items": [
                    {
                      "name": "Coding Vibes",
                      "id": "37i9dQZF1DXdPec7aLTmlC",
                      "public": true,
                      "tracks": {
                        "total": 25
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for a track",
        "description": "Search Spotify content (track, album, artist)",
        "security": [
          {
            "OAuth2": [
              "user-library-read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The search query keyword (e.g., song name)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The item type to search (e.g., track, album)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "album",
                "artist",
                "playlist",
                "track",
                "show",
                "episode"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results for tracks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tracks": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Track"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "tracks": {
                    "items": [
                      {
                        "name": "Shape of You",
                        "id": "7qiZfU4dY1lWllzX7mPBI3",
                        "artists": [
                          {
                            "name": "Ed Sheeran"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}